<%= link_to "ユーザー情報", edit_user_path(current_user.id) %>
<%= link_to "スタッフ", staffs_path %>
<%= link_to "店舗", shops_path %>
<%= link_to "シフトパターン", work_patterns_path %>
<p>この画面では、シフト作成に必要な各種設定を変更できます</p>